html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
#content {
    display: flex;
    flex-flow: row;
	align-items: center;
	height: 100%;
}
#weather-view {
	border: 2px solid blue;
	padding: 10px;
	min-width: 300px;
}
.location {
	text-align: center;
}
.current-temp {
	text-align: center;
}
#current-temp {
	text-align: center;
}
#weather-details {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
#search-view {
	margin-left: 20px;
	height: 230px;
}
.search-error {
	color: red;	
}
