html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
#content {
    display: flex;
    flex-flow: row;
	align-items: center;
	height: 100%;
}
#weather-view {
	border: 2px solid blue;
}
#search-view {
	height: 150px;
}
